
body {
        background-color: aqua;
        text-indent: 4%;
        line-height: 1.5;
        font-family: 'Times New Roman', Times, serif;  
}
h1 {color: navy;}
h2 {color:darkblue;}
h3{color:darkslategrey;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
